<div class="container">
  <div class="estadisticas-container">
    <mat-card>
      <h2 class="txt-titulo">
        Estadísticas
      </h2>
      <div class="row estadisticas-box">
        <mat-tab-group color="accent">
          <mat-tab label="Tratamiento" >
            <mat-tab-group color="accent">
              <mat-tab label="Más solicitados por mes">
                <div style="display: block">
                  <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                  [options]="chartOptions">
                </canvas>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="Paciente">
            <mat-tab-group color="accent">
              <mat-tab label="Tratados por Edad">
                <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                  [options]="chartOptions">
                </canvas>
              </mat-tab>
              <mat-tab label="Tratados por Localidad">
                Falta...
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="Turno">
            <mat-tab-group color="accent">
              <mat-tab label="Por Estación del Año">

                <div style="display: block">
                  SACAR LOS QUE NO SE COMPLETARON 
                  <canvas baseChart
                    [data]="dataEstacion"
                    [type]="barChartType">
                  </canvas>
                </div>

              </mat-tab>
              <mat-tab label="Por ESTADOS">

                <div style="display: block">
                  graficos para todos los estados 
                  <!-- <canvas baseChart
                    [data]="dataEstacion"
                    [type]="barChartType">
                  </canvas> -->
                </div>

              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>