<div class="container">
  <div class="estadisticas-container">
    <mat-card>
      <h2 class="txt-titulo">
        Estadísticas
      </h2>
      <div class="row estadisticas-box">
        <mat-tab-group color="accent">
          <mat-tab label="Tratamiento" >
            <mat-tab-group color="accent">
              <mat-tab label="Más solicitados por mes">
                <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                  [options]="chartOptions">
                </canvas>
              </mat-tab>
              <mat-tab label="Por Estación del Año">
                Falta...
                personas atendendias durante la estacion y no por tratamiento
              
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="Paciente">
            <mat-tab-group color="accent">
              <mat-tab label="Tratados por Edad">
                <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                  [options]="chartOptions">
                </canvas>
              </mat-tab>
              <mat-tab label="Tratados por Localidad">
                Falta...
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>