<div class="container">
  <div class="estadisticas-container">
    <mat-card>
      <h2 class="txt-titulo">
        Estadísticas
      </h2>
      <div class="row estadisticas-box">
        <mat-tab-group color="accent">
          <mat-tab label="TRATAMIENTO" >
            <!-- <mat-tab-group color="accent"> -->
              <!-- <mat-tab label="Más solicitados por mes"> -->
                <div class="grafico-box">
                  <h3> Tratamientos más solicitados por mes (por semestre):</h3> 
                  <p class="descripcion-p"> Se muestra a continuación un gráfico que detalla la cantidad de tratamientos solicitados según mes </p> 
                  <p class="descripcion-p anio"> Año: 2022 - Total de turnos Evaluados: {{totalTurnosMes}}</p>
                  <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                  [options]="chartOptions">
                  </canvas>



                  <table class="table m-0">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col" class="text-center"></th>
                      <th scope="col" *ngFor="let mes of chartLabelsMes" class="text-center">{{mes}}</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of chartTratamientoMes">
                    <tr>
                      <td class="font-weight-bold td-description" >{{item.label}}</td>
                      <td *ngFor="let data of item.data" class="font-weight-bold td-description" >{{data ? data : "-"}}</td>
                    </tr>
                    </tbody>
                  </table>

























                </div>
              <!-- </mat-tab> -->
            <!-- </mat-tab-group> -->
          </mat-tab>
          <mat-tab label="PACIENTE">
            <mat-tab-group color="accent">
              <mat-tab label="Tratados por Edad">
                <div class="grafico-box">
                  <h3>Pacientes tratados según rango etario:</h3> 
                  <p class="descripcion-p"> Se muestra a continuación un gráfico que detalla la cantidad de pacientes tratados según su rango etario: </p> 
                  FALTA FE de GRAFICO CANVAS CORRECTO
                  <canvas baseChart [type]="lineChartType" [legend]="true" [datasets]="chartTratamientoMes" [labels]="chartLabelsMes"
                    [options]="chartOptions">
                  </canvas>
                </div>
              </mat-tab>
              <mat-tab label="Tratados por Localidad">
                <div class="grafico-box">
                  <h3>Pacientes tratados por Localidad:</h3> 
                  <p class="descripcion-p"> Se muestra a continuación un gráfico que detalla la cantidad de pacientes tratados, agrupados por localidad o barrio: </p> 
                  FALTA FE de GRAFICO CANVAS
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab label="TURNO">
            <mat-tab-group color="accent">
              <mat-tab label="Por Estación del Año">
                <div class="grafico-box">
                  <h3>Turnos por Estación del Año:</h3> 
                  <p class="descripcion-p"> Se muestra a continuación un gráfico que detalla la cantidad de turnos solicitados según estación del año: </p>
                  <canvas baseChart
                    [data]="dataEstacion"
                    [type]="barChartType">
                  </canvas>
                </div>
              </mat-tab>

              <mat-tab label="Por Estados">
                <div class="grafico-box">
                  <h3>Turnos por Estado:</h3> 
                  <p class="descripcion-p"> Se muestra a continuación un gráfico que detalla la cantidad de turnos según su estado: </p> 
                  FALTA BE y FE de ESTADISTICA para GRAFICO CANVAS
                  <!-- <canvas baseChart
                    [data]="dataEstacion"
                    [type]="barChartType">
                  </canvas> -->
                </div>

              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>