.estadisticas-container {
  display: flex;
  flex-direction: row;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  background: #f8e5f2;
  background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
  justify-content: center;

  .row {
    padding: 15px 25px;
  }

  .estadisticas-box {
    justify-content: center;
  //  width: 100vh;
  }

  .p {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .mat-tab-box{
    padding: 2%;
  }

  .grafico-box {
    margin: 1%;
    padding: 2%;
    .descripcion-p {
      text-align: center;
    }
    .anio{
      font-weight: bold;
      color: rgb(151, 155, 155);
      font-size: 12px;
    }
    .grafico-ds{
      width: 100%;
      display: block;
      margin: 2em auto;
    }
    .grafico-localidad{
      width: 90%;
      display: block;
      margin: 2em auto;
    }
    h3 {
      padding: 0 20px;
      text-align: center;
      color: #874284;
      font-weight: bold;
    }
    .tabla-valores {
      justify-content: center;
      display: flex;
      margin: 1%;
      padding: 4%;
      background: #fff7fded;
      table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        .text-center{
          color: #874284;
        }
        .td-description{
          color: #874284;
          text-align: justify;
        }
        .text-valores{
          text-align: center;
          justify-content: center;
        }
        .td-label{
          justify-content: right;
        }
        .thead-light {
          background-color: #f4dff3;
          font-size: 18px;
        }
      }
    }
  }
 
}

@media all and (max-width: 500px) {
  .container {
    .estadisticas-container {
        mat-card {
          width: 90%;
        }

        th {
          font-size: 11px;
        }
  }
  }

}

