<h2 class="txt-titulo" mat-dialog-title>{{titulo}}</h2>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
  <div class="form" [formGroup]="formTratamiento">
    <mat-form-field class="form-field" color="accent">
      <mat-label>Descripción</mat-label>
      <input matInput type="text" [(ngModel)]="tratamiento.descripcion" formControlName="descripcion" >
      <mat-error *ngIf="formTratamiento.get('descripcion')?.invalid">
        Este campo es requerido
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field class="form-field" color="accent">
      <mat-label>Duración</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="tratamiento.duracion" formControlName="duracion" >
      <mat-error *ngIf="formTratamiento.get('duracion')?.invalid">
        Este campo es requerido (mayor a 0)
      </mat-error>
    </mat-form-field> -->
    <mat-form-field class="form-field" color="accent">
      <mat-label>Precio</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="tratamiento.precio" formControlName="precio" >
      <mat-error *ngIf="formTratamiento.get('precio')?.invalid">
        Este campo es requerido (mayor a 0)
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">
    Cancelar
  </button>
  <button mat-button color="accent" [disabled]="formTratamiento.invalid" (click)="guardar()">
    Guardar
  </button>
</mat-dialog-actions>