<h2 class="txt-titulo" mat-dialog-title>{{titulo}}</h2>
<mat-divider></mat-divider>
<br>
<mat-dialog-content class="mat-typography">
  
  <div class="form-dialog" >

    <mat-form-field   color="accent">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="tratamiento.descripcion">
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Duración</mat-label>
      <input matInput [(ngModel)]="tratamiento.duracion">
    </mat-form-field>

    <mat-form-field  color="accent">
      <mat-label>Precio</mat-label>
      <input matInput [(ngModel)]="tratamiento.precio">
    </mat-form-field>

  </div>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">
    <!-- <mat-icon aria-hidden="false">close</mat-icon> -->
    Cancelar
  </button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Guardar</button> -->
  <button mat-button color="accent" (click)="guardar()">
    <!-- <mat-icon aria-hidden="false">check</mat-icon> -->
    Guardar
  </button>
</mat-dialog-actions>