.detalle-paciente-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  background: #f8e5f2;
  background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
  justify-content: center;

  .container {
    border-radius: 10px;
    background: #f8e5f2;
    background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
    padding: 2%;
  }

  .row {
    padding: 15px 25px;
    justify-content: center;
    flex-direction: row;

    .form-detalle {
     
      .cls-filtro {
        width: 100%;
      }

      mat-panel-title {
        color: rgb(65, 3, 44);
        font-family: system-ui;
      }

      mat-panel-description {
        justify-content: end;

        mat-icon {
          color: #debadc;
        }
      }

      .contenido-panel {
        .row-cols-2 {
          display: flex;
          flex-direction: row;
          mat-form-field {
            margin-right: 20px;
            width: 50%;
          }
        }
      }
    }
  

    .btn-detalle {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2%;
      margin: 1%;

      button {
        margin: 1%;
      }
    }

  }
}



@media all and (max-width: 500px) {
  .container {
    .detalle-paciente-container {
      .detalle-paciente-box {
        .btn-detalle {
          display: flex;
          flex-direction: column;
        }
        .form-detalle {
          .contenido-panel {
            .row-cols-2 {
              flex-direction: column;
              mat-form-field {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}