
.txt-titulo {
    text-align: center;
    color: #8d7a8c;
}

.row{
  padding: 15px 25px;
}

.mat-form-field {
  margin-right: 12px;
}


button {
  margin-right: 12px;
  height: 3em;
  padding: 6px 40px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

