<app-cargando [cargando]="cargando"></app-cargando>

<div class="container">
  <div class="paciente-content">
    <mat-card>
      <h2>
        Pacientes
      </h2>
      <div class="row paciente-box">
        <div class="form row-cols-3">
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Buscar paciente</mat-label>
            <input matInput (keyup)="filtrar($event)" #input>
          </mat-form-field>
          <button mat-flat-button color="accent" (click)="agregar()">
            <mat-icon aria-hidden="false">person_add</mat-icon>
            Agregar
          </button>
        </div>
        <section>
          <app-lista-paciente [dataSource]="dataSource"></app-lista-paciente>
        </section>
      </div>
    </mat-card>
  </div>
</div>