<br>

<h1 class="txt-titulo" >
  Gestion de Pacientes
</h1>
<mat-divider></mat-divider>

<!-- <ng-template > -->
     <div fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="20px">

     <div fxFlex="20"
          fxFlex.lg="15"
          fxFlex.sm="30"
          *ngFor="let tarjeta of tarjetas">

          <mat-card>
               <mat-card-header>
                    <mat-card-title>{{tarjeta.titulo}}</mat-card-title>
                    <img *ngIf="tarjeta.imagen" mat-card-image src="{{ tarjeta.imagen | imagen }}">
               </mat-card-header>
               </mat-card>

          <!-- <app-card [infoCard]="tarjeta"></app-card> -->
     </div>
     </div>
<!-- </ng-template> -->
