<div class="container">
  <div class="paciente-content">
    <mat-card>
      <h2>
        Pacientes
      </h2>
  <div class="row paciente-box">
    <div class="form row-cols-3" [formGroup]="pacienteForm">
      <mat-form-field appearance="fill"  color="accent">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="apellido">
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>DNI</mat-label>
        <input matInput type="number" formControlName="dni">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="buscarPacientes()" [loading]="botonFiltroLoading" [disabled]="validar()">
        <mat-icon aria-hidden="false">search</mat-icon>
        Filtrar
      </button>
      <button mat-flat-button color="accent" (click)="agregar()">
        <mat-icon aria-hidden="false">person_add</mat-icon>
        Agregar
      </button>
    </div>
    <section>
      <app-lista-paciente [dataSource]="pacientes"></app-lista-paciente>
    </section>
  </div>
</mat-card>

</div>
</div>