table {
    width: 100%;
  }
  
  .mat-header-row {
    background: #956592;
  background: linear-gradient(90deg, #956592 0%, #efa3e9 100%);
    th {
      font-size: 15px;
      font-weight: initial;
      color: white;
     // background-color: #d349d312;
    }
  }
