
<div class="contenido-panel">
  <mat-form-field class="form-field" color="accent">
    <mat-label>Biotipo</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.biotipo">
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Fototipo Cut&#225;neos</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.fototipo">
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Afectación Cutánea</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.afeccion_cutanea">
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Alergias</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.alergias">
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Medicamentos Prescriptos</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.medicamentos">
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Tratamiento</mat-label>
    <input matInput type="text" readonly [(ngModel)]="antecedente.tratamientos_clinicos">
  </mat-form-field>
</div>
