<div class="container">
    <div class="login-container">
      <div class="logo-login">
        <img class="icon-header" [src]="logo">
        <h1>Login</h1>
      </div>
      <div class="row ingreso-login" >
        
          <form class="data-ingreso" [formGroup]="formLogin">
          
            <mat-form-field  class="form-field" color="accent">
              <mat-label>Usuario</mat-label>
              <input matInput type="text" required formControlName="usuario">
              <mat-error *ngIf="formLogin.get('usuario')?.invalid">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field  class="form-field" color="accent">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" required formControlName="contrasenia">
              <mat-error *ngIf="formLogin.get('contrasenia')?.invalid">
                Este campo es requerido
              </mat-error>
            </mat-form-field>
          </form>
  
          <mat-card-actions class="data-botones">
            <button mat-flat-button color="accent" [disabled]="formLogin.invalid">
              Ingresar
            </button>
            <!-- <button mat-flat-button color="primary">
              Cancelar
            </button> -->
          </mat-card-actions>
  
      </div>
    </div>
  </div>