
.container-agendar-turno {
    display: block;
    
    div {
        display: flex;
        flex-direction: column;
    }
    
    .cancelar-action {
        position: absolute;
        top: 24%;
        right: 80%;
        color: #966693;
        overflow-y: auto;
    }
}