<h2 class="txt-titulo" mat-dialog-title>Modificar</h2>

<mat-divider></mat-divider>
<br>

<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill"  class="form-field" color="accent">
        <mat-label>Seleccionar estado</mat-label>
        <mat-select [(value)]="select">
          <mat-option *ngFor="let est of data.estados" [value]="est._id">{{est.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()" > Cancelar </button>
    <button mat-button color="accent" (click)="confirmar()"> Guardar </button>
 </mat-dialog-actions>