
  
  .mat-elevation-z8 {
    display: block;

    .mat-header-row {
      background: #956592;
   // background: #956592; //linear-gradient(90deg, #956592 0%, #efa3e9 100%);
  }  
  .example-container {
    height: 300px;
    overflow: auto;
  }
  
  table {
    width: 100%;
    th {
      font-size: 15px;
      font-weight: initial;
      color: white;
    }
    
    tr.mat-footer-row {
      font-weight: bold !important;
    }
    .observacion-td {
      width: 50%;
    }
  }
    
    .mat-table-sticky {
      border-top: 1px solid #e0e0e0 !important;
    }
  }