.container {
  display: flex;
  flex-direction: column;
  .home-content {
    display: flex;
    flex-direction: row;
    margin: 1%;
    border-radius: 10px;
    background: #f8e5f2;
    background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
    justify-content: center;
    .estadistica {
      padding: 2%;
      max-height: 500px;
    }
    .eventos {
      padding: 2%;
      max-height: 500px;
      .acciones {
        text-align: center;
        margin-bottom: 5%;
        button {
          margin: 0 5px;
        }
      }
    }
    mat-card-subtitle {
      text-align: right;
      color: #976694;
    }
  }
}