
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <img [src]="logo | imagen">

  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>



  <section class="src-components-comunes-header-titulo">
    <div class="text-center row">

      <div class="col-md-3 ">
      </div>

      <div class="col-md-6 ">        
      </div>

      <div class="col-md-3 ">        
      </div>


    </div>

  </section>