<nav class="menu color-menu">

    <ul class="menu-items">
        <li class="logo">
            <img class="icon-header" [src]="logo | imagen">
        </li>
        <li [class]="mostrarSNV ? 'item responsive active' : 'item responsive'" *ngFor="let opt of optionsMenu">
            <a (click)="openSidenav()" routerLink="{{opt.router}}">{{opt.name}}</a>
            <ul>
                <li>
                    <a (click)="openSidenav()" routerLink="">d</a>
                </li>
            </ul>
        </li>
        <li class="item" *ngFor="let opt of optionsMenu">
            <a routerLink="{{opt.router}}">{{opt.name}}</a>
        </li>
        <li class="toggle">
            <a (click)="openSidenav()"><span class="bars"></span></a>
        </li>
    </ul>
</nav>
