<section class="src-components-no-legeado">

    <div id="login">
      <br>
      <img alt="Vue logo" :src="image">
      <br>
      <br>
      <div class="mx-auto" style="width: 300px;">
        
        <div class="col-30">
          
            <br>
            
            <h2>No se encuentra logeado</h2>

            <br>

            <button class="btn btn-primary my-3" 
                    type="submit"
                    id="boton"
                    (click)="retornarLogin()">
                    LOGIN
            </button> 

        </div>

      </div>
    </div>


  </section>