div{

  .calendario-piker{
    display: block;
  }
  .calendario-card{
    display: none;
  }

}



mat-panel-title {
  font-size: 18px;
  font-weight: initial;
  color: #973d8f;
}

.mat-form-field {
  margin-right: 15px;
}

@media all and (min-width: 769px) {
  div{
    .calendario-piker{
      display: none;
    }
    .calendario-card{
      display: block;
    }

    .row-turno{
      display: flex;
      flex-direction: row-reverse;
       padding: 15px 25px;
    }

    .calendar-card {
      width: 30%;
    }
    .dia-select {
      width: 70%;
      overflow-y: auto;
    }

    .card {
      margin: 1vh;
      button{
        width: 100%;
      }
    }
   
  }


}

.botones {
  // display: flex;
  // justify-content: center;
  // button{
  //   // margin: 10px;
  // }
  // .button-calendar{
  //   background-color: rgb(162, 75, 244); 
  //   color: #fff;
  // }
  // display: table-cell;
  // width: 490px;
    .mat-button-base {
      margin: 8px 8px 8px 0;
    }

    
}

.botonesLista {
  // display: flex;
  // justify-content: center;
  justify-content: center;
    display: inline-block;
    margin: 0 10px;

  button{
    text-align: center !important; 
  }

  .button-camb-est{
    background-color: rgba(190, 137, 240, 0.922); 
    color: #fff;
  }
  .button-reprogramar {
    background-color: rgb(62, 195, 164); 
    color: #fff;
  }

  .mat-button-base {
    margin: 8px 8px 8px 0;
  }

}

.icon-person {
  font-size: 80px;
  opacity: 0.2;
  color: #826a80;
  // position: absolute;
  // padding-left: 570px;
}
