.turno-content {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  background: #f8e5f2;
  background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
  justify-content: center;

  .container {
    border-radius: 10px;
    background: #f8e5f2;
    background: linear-gradient(90deg, #f8e5f2 0%, #f4dff3 100%);
    padding: 2%;

    .btn-agregar {
      width: 100%;
    }

    .card-paciente-detalle {
      display: flex;
      justify-content: center;

      app-card-persona {
        width: 100%;
        padding: 2%;
      }

      .botonesLista {
        display: flex;
        flex-direction: column;

        button {
          text-align: center !important;
        }

        .button-camb-est {
          background-color: rgba(190, 137, 240, 0.922);
          color: #fff;
        }

        .button-reprogramar {
          background-color: rgb(62, 195, 164);
          color: #fff;
        }

        .mat-button-base {
          margin: 8px 8px 8px 0;
        }
      }


    }
  }

  .row-turno {
    display: flex;
    flex-direction: row;

    .dia-select {
      width: 70%;
      padding-right: 2%;
    }

    .calendar-card {
      width: 30%;

    }

    .calendario-piker {
      display: none;
    }

    .card-turno {
      margin-bottom: 10px;
    }


  }

  mat-panel-description {
    justify-content: left;
  }


}

mat-panel-title {
  font-size: 18px;
  font-weight: initial;
  color: #973d8f;
}

.mat-form-field {
  margin-right: 15px;
}

@media all and (max-width: 768px) {
  .container {
    .turno-content {
      .row-turno {
        flex-direction: column-reverse;

        .dia-select {
          width: 100%;

          .card-paciente-detalle {
            flex-direction: column;
            .data-info-paciente {
              justify-content: flex-start;
            }
          }
        }

        .calendar-card {
          width: 100%;
          padding-bottom: 1%;

          .calendario-piker {
            display: block;
          }

          .calendario-card {
            display: none;
          }
        }

      }
    }
  }

}


@media all and (max-width: 500px) {
  mat-panel-title, mat-panel-description {
    font-size: 12px;
  }
}