 <br>

<div class="container">

  <h1 class="txt-titulo">
    Gestion de Turnos
  </h1>
  <mat-divider></mat-divider>
  <br>


  <div class="row-turno">

    <div class="calendar-card card">
      <mat-card class="calendario-card" >
        <mat-calendar [minDate]="hoy" [(selected)]="selected" color="accent"></mat-calendar>
      </mat-card>

      <mat-form-field class="calendario-piker" appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" color="accent">
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
      </mat-form-field>

      <button mat-flat-button color="accent" >
        <mat-icon aria-hidden="false">edit_calendar</mat-icon>
        Agendar
      </button>
    </div>

    <div class="dia-select card">
      <br>
      <mat-accordion>
        <mat-expansion-panel (opened)="abrirPanel = true"
                             (closed)="abrirPanel = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am 
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <!-- <p>Selected date: {{selected}}</p>     -->

  </div> 


</div> 



