 <br>

<div class="container">

  <h1 class="txt-titulo">
    Gestion de Turnos
  </h1>
  <mat-divider></mat-divider>
  <br>

  <div class="row-turno">

    <div class="calendar-card card">
      <mat-card class="calendario-card" >
        <mat-calendar [minDate]="hoy" [(selected)]="selected" color="accent" (click)="consultar()"></mat-calendar>
      </mat-card>

      <mat-form-field class="calendario-piker" appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" color="accent" >
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
      </mat-form-field>

      <button mat-flat-button color="accent" (click)="agendar()">
        <mat-icon aria-hidden="false">edit_calendar</mat-icon>
        Agendar - FALTA
      </button>
    </div>

    <div class="dia-select card">
      <br>
      <mat-accordion>
        <mat-expansion-panel (opened)="abrirPanel = true" (closed)="abrirPanel = false"
             *ngFor="let turno of turnos" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{turno.fecha_turno  | date:'dd/MM/yyyy'}} {{turno.hora}}
            </mat-panel-title>
            <mat-panel-description>
              {{turno.id_tratamiento}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-icon class="icon-person" aria-hidden="false">person</mat-icon>
          <!-- <p>{{turno | json}}</p> -->

          <mat-form-field class="form-field" color="accent">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput type="text" readonly >
          </mat-form-field>
  
          <mat-form-field class="form-field" color="accent">
            <mat-label>Documento</mat-label>
            <input matInput type="text" readonly>
          </mat-form-field>
  
          <mat-form-field class="form-field" color="accent">
            <mat-label>Telefono</mat-label>
            <input matInput type="text" readonly >
          </mat-form-field>
  
          <mat-form-field class="form-field" color="accent">
            <mat-label>Email</mat-label>
            <input matInput type="text" readonly>
          </mat-form-field>
  
    
      <div class="botones">
        <button mat-flat-button color="primary">
          <mat-icon aria-hidden="false">medical_information</mat-icon>
          Antecedentes
        </button>
        <button mat-flat-button color="primary">
          <mat-icon aria-hidden="false">history</mat-icon>
          Historial
        </button>
        <button mat-flat-button color="accent">
          <mat-icon aria-hidden="false">edit_note</mat-icon>
          Ver Paciente
        </button>
        <button mat-flat-button color="warn">
          <mat-icon aria-hidden="false">delete_forever</mat-icon>
          Cancelar
        </button>
      </div>




        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <!-- <p>Selected date: {{selected}}</p>     -->

  </div> 


</div> 



