<br>
<div class="container">

  <h1 class="txt-titulo">
    Crear Nuevo Registro
  </h1>
  <mat-divider></mat-divider>
  <br>

  <div class="row">
    <mat-accordion class="example-headers-align">
  
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        
        <mat-expansion-panel-header>
          <mat-panel-title>
            Datos del paciente
          </mat-panel-title>
          <mat-panel-description >
            <mat-icon class="personal-icon">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
          <mat-form-field appearance="fill" color="accent">
          <mat-label>Nombre</mat-label>
          <input matInput>
          </mat-form-field>
    
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Apellido</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Tipo Documento</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>DNI</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
  
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
          <mat-panel-title>
            Dirección
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="map-icon">map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Calle</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Numero</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
    
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Localidad</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Codigo Postal</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row> 
      </mat-expansion-panel>
    
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Antecedentes Clinicos
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon class="medical-icon">medical_information</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Biotipo</mat-label>
          <input matInput type="text">
        </mat-form-field>
    
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Fototipo</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Afectacion Cutanea</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Alergias</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Medicamentos Prescriptos</mat-label>
          <input matInput type="text">
        </mat-form-field>
  
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Tratamiento</mat-label>
          <input matInput type="text">
        </mat-form-field>
    
    
  
  
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <!-- <button mat-button color="primary" (click)="nextStep()">End</button> -->
        </mat-action-row>
      </mat-expansion-panel>
    
    </mat-accordion>
  </div>
    
  <div class="botones">
    <button mat-flat-button color="primary" (click)="volver()">
      <mat-icon aria-hidden="false">arrow_back</mat-icon>
      Volver
    </button>
    <button mat-flat-button color="accent" [disabled]="disabledOK" (click)="guardar()">
      <mat-icon aria-hidden="false">how_to_reg</mat-icon>
      Guardar
    </button>
  </div>


</div>